@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var home = Model.AncestorsOrSelf().Last();
    var about = home.ChildrenOfType("about").FirstOrDefault();
    var images = about?.Value<IEnumerable<MediaWithCrops>>("pageImages");
    var imageList = images?.ToList();

}

@if(about != null)
{
    <section class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
                    <span>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                    </span>
                    <div class="section-subtitle">@about.Value("pageTitle")</div>
                    <div class="section-title">@about.Value("pageSubTitle")</div>
                    @Html.Raw(about.Value("pageText"))
                    @if (about.HasValue("pagePhone"))
                    {
                        <!-- call -->
                        <div class="reservations">
                            <div class="icon"><span class="flaticon-call"></span></div>
                            <div class="text">
                                <p>Reservation</p> <a href="tel:@about.Value("pagePhone")">@about.Value("pagePhone")</a>
                            </div>
                        </div>
                    }

                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                    <img src="@imageList?.ElementAtOrDefault(0)?.Url()" alt="" class="mt-90 mb-30">
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                    <img src="@imageList?.ElementAtOrDefault(1)?.Url()" alt="">
                </div>
            </div>
        </div>
    </section>

}