@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var home = Model.AncestorsOrSelf().Last();
    var servicesPage = home.ChildrenOfType("servicesPage").FirstOrDefault();
    var pageTitle = servicesPage?.Value<string>("pageTitle");
    var pageText = servicesPage?.Value<string>("pageText");
    var servicesList = servicesPage?.Value<IEnumerable<BlockListItem>>("services");
}


@if(servicesList != null)
{
    <section class="facilties section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">@pageTitle</div>
                    <div class="section-title">@pageText</div>
                </div>
            </div>
            <div class="row">
                @foreach(var service in servicesList)
                {
                    var content = service.Content;
                    var serviceName = content.Value("serviceName");
                    var serviceText = content.Value("serviceText");
                    var serviceIcon = content.Value<string>("serviceIcon")?.Split('+').Last();
                    <div class="col-md-4">
                        <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                            <span class="flaticon-@serviceIcon"></span>
                            <h5>@serviceName</h5>
                            <p>@serviceText</p>
                            <div class="facility-shape"> <span class="flaticon-@serviceIcon"></span> </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

}