@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{

    var home = Model.AncestorsOrSelf().Last();
    var videoTitle = home.Value<string>("videoTitle");
    var videoText = home.Value<string>("videoText");
    var videoUrl = home.Value("videoUrl");
    var videoImg = videoUrl?.ToString()?.Split('=').Last();


}


@if (home.HasValue("videoUrl"))
{
    <section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="5" data-background="@("https://i.ytimg.com/vi/" + videoImg + "/maxresdefault.jpg")">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <span><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i></span>
                    <div class="section-subtitle"><span>@videoTitle</span></div>
                    <div class="section-title"><span>@videoText</span></div>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                    <a class="vid" href="@videoUrl">
                        <div class="vid-butn">
                            <span class="icon">
                                <i class="ti-control-play"></i>
                            </span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
}






