version: "3.9"

services:
  web:
    image: ghcr.io/gurcay/umbbelish:latest
    container_name: umbbelish-web
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_DETAILEDERRORS=true
      - ASPNETCORE_FORWARDEDHEADERS_ENABLED=true
      - Logging__LogLevel__Default=Information
      - Logging__LogLevel__Microsoft=Warning
      - Logging__LogLevel__Umbraco=Debug
      - Umbraco__CMS__Global__UseHttps=true

    volumes:
      - ./volumes/sqlite:/umbraco/data
      - ./volumes/media:/app/wwwroot/media
    networks:
      - web
    restart: unless-stopped

networks:
  web:
    external: true


